# App
SPRING_APPLICATION_NAME=Spring-Security

# Database
DB_URL=jdbc:mysql://mysql:3306/authDB
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password
DB_DRIVER=com.mysql.cj.jdbc.Driver

# JPA
JPA_SHOW_SQL=true
HIBERNATE_DIALECT=org.hibernate.dialect.MySQL8Dialect
DDL_AUTO=update

# JWT
JWT_SECRET=your_jwt_secret_min_32_characters_long
JWT_EXPIRATION=86400000